<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_beauty"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Day 01: OpenGL ES 入门与环境搭建 -->
        <activity
            android:name=".day01.Day01Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Day 02: 渲染第一个三角形 -->
        <activity
            android:name=".day02.Day02Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Day 03: 着色器基础 - GLSL 语言 -->
        <activity
            android:name=".day03.Day03Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Day 04: 纹理贴图基础 -->
        <activity
            android:name=".day04.Day04Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Day 05: 纹理变换与矩阵操作 -->
        <activity
            android:name=".day05.Day05Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Day 06: EGL 与 GLSurfaceView 深入 -->
        <activity
            android:name=".day06.Day06Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
